{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"></h4>
                    <p class="category"></p>
                </div>
                <div class="content">
                    <div class="typo-line">
                        <p class="category">Oi sou Start</p>
                        <blockquote>
                            <p>
                                um micro framework de aplicação web. Acredito que o desenvolvimento deve ser uma experiência agradável e eficiente. Tento facilitar a vida do desenvolvedor iniciante.
                            </p>
                            <small>
                                let's go
                            </small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
