<!DOCTYPE HTML>
<html>
	<head>
		<title>Start</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../../assets/home/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../assets/home/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/../../assets/home/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/../../assets/home/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Start</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#" class="button special">Entrar</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<p>Comece sua viagem no mundo da programação WEB, com PHP + MVC.</p>
						</header>
						<span class="image"><img src="" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="one" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Start é um micro framework de aplicação web.</h2>
							<p>Acreditamos que o desenvolvimento deve ser uma experiência agradável e eficiente. O Start tenta facilitar a vida do desenvolvedor iniciante, disponibilizando os seguintes recursos:</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Banco de Dados</h3>
									<p>ORM expressivo e intuitivo</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa fa-code"></span>
									<h3>Back-end</h3>
									<p>Vários recursos como: armazenamento de sessão e cache</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa fa-html5"></span>
									<h3>Front-end</h3>
									<p>Motor de renderização simples e rápido</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa fa-lock"></span>
									<h3>Autenticação</h3>
									<p>Sistema de login nativo</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa fa-envelope-o"></span>
									<h3>E-mail</h3>
									<p>Envio de email</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-file"></span>
									<h3>Arquivo</h3>
									<p>Facil sistema de upload</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa fa-road""></span>
									<h3>Rotas</h3>
									<p>Gerencie suas URLs</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa fa-exclamation"></span>
									<h3>Validation</h3>
									<p>Validação de atributos</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa fa-globe"></span>
									<h3>Packages</h3>
									<p>Crie seus proprios pacotes</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Ajude o START á crescer !!</h2>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="E-mail" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Start" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://github.com/code-and-code/start" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Todos os direitos reservados ®</li><li><a href="http://codeandcode.com.br" target="_blank">{Code&Code}</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="/../..assets/home/js/jquery.min.js"></script>
			<script src=/../..assets/home/js/jquery.scrolly.min.js"></script>
			<script src="/../..assets/home/jquery.dropotron.min.js"></script>
			<script src="/../..assets/home/jquery.scrollex.min.js"></script>
			<script src="/../..assets/home/js/skel.min.js"></script>
			<script src="/../..assets/home/js/util.js"></script>
			<!--[if lte IE 8]><script src="/../..assets/home/ie/respond.min.js"></script><![endif]-->
			<script src="/../..assets/home/js/main.js"></script>

	</body>
</html>