{% extends view('app') %}

{% block content %}
    <div class="container">
        <div class="row">

            <p><h1>Oi eu sou Start,</h1> sou um micro framework de aplicação web. Acreditamos que o desenvolvimento deve ser uma experiência agradável e eficiente. Tento facilitar a vida do desenvolvedor iniciante, disponibilizando os seguintes recursos:</p>

            <p>Banco de dados ORM expressivo e intuitivo</p>
            <p>Vários back-ends para armazenamento de sessão e cache</p>
            <p>Motor de renderização simples e rápido</p>
            <p>Sistemas de autenticação</p>
            <p>Sistemas de rotas</p>
            <p>Envio de email</p>
            <p>Sistema de upload</p>


            <a href="https://github.com/code-and-code/start">Documentação</a>


            <br><br><br>
            Comece sua viajem no mundo da programação WEB, com PHP + MVC.

        </div>
    </div>
{% endblock %}