{% extends view('app') %}

{% block content %}
    <div class="container">
        <div class="row">

            <p>Oi eu sou Start é um micro framework de aplicação web. Acreditamos que o desenvolvimento deve ser uma experiência agradável e eficiente. O Start tenta facilitar a vida do desenvolvedor, com os seguintes recursos:</p>

            <p>Banco de dados ORM expressivo e intuitivo</p>
            <p>Vários back-ends para armazenamento de sessão e cache</p>
            <p>Motor de renderização simples e rápido</p>
            <p>Sistemas de autenticação</p>
            <p>Sistemas de rotas</p>
            <p>Envio de email</p>
            <p>Sistema de upload</p>


            <a href="https://github.com/code-and-code/start">Documentação</a>

        </div>
    </div>
{% endblock %}